/* Title Styles */
.donate__title{
    text-align: center;
    margin-top: 8%;
    font-size: 2.5rem;
    text-decoration: underline dotted;
}

/* Form Styles */
.forms__container{
    margin: 4% 10%;
    background-color: rgb(238, 78, 78);
    padding: 2%;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input, select{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.donate__button__container {
    width: 100%;
    text-align: center;
}
.donate__button {
    background-color: rgb(245, 223, 190);
    padding: 12px 20px;
    border: none;
    border-radius: 5%;
}
.donate__button:hover {
    background-color: rgb(199, 180, 151);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

@media (max-width: 1050px) {
    .donate__title{
        margin: 16% 8% 0 8%;
    }
}
@media (max-width: 750px) {
    .donate__title{
        margin-top: 29%;
        font-size: 2rem;
    }
    .forms__container {
        margin-bottom: 8%;
    }
}