.filter__container{
    display: flex;
    margin: 8% 1% 0 1%;
    justify-content: center;
    align-items: center; 
}
.filter__button{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(238, 78, 78);
    width: 10%;
    height: 5vh;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
    margin: 0 2%;
}
.filter__break{
    width: 3px;
    height: 5vh;
    background-color: black;
}
.filter__button:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(219, 69, 69);
}

.products__section{
    margin: 2% 5% 4% 5%;
    display: flex;
    flex-wrap: wrap;
}
.show{
    display: none;
}
.products__container{
    width: 30%;
    text-decoration: none;
    margin: 1%;
    margin-top: 2%;
    text-align: center;
    color: black;
    border: 3px solid rgb(238, 78, 78);
    border-radius: 8px;
    padding-top: 5px;
    background-color: rgb(255, 255, 255);
}
.products__container:visited{
    color: black;
}
.products__container:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.products__list{
    padding: 2px;
}
.products__list img{
    width: 50%;
    margin-left: auto;
    border-radius: 5%;
}
.products__list h2{
    font-weight: lighter;
}
.price{
    color: rgb(238, 78, 78);
}
.desc, .price{
    margin: 5%;
    font-weight: lighter;
}


@media (max-width: 1050px){
    .filter__container{
        margin: 16% 1% 0 1%;
    }
    .filter__button{
        width: 20%;
    }
}

@media (max-width: 750px){
    .filter__container{
        margin: 32% 1% 0 1%;
    }
    .filter__button{
        width: 20%;
        font-size: 1rem;
    }
    .products__section{
        flex-direction: column; 
        align-items: center;
        margin-bottom: 6%;
    }
    .products__container{
        width: 90%;
    }
}